.custom-background {
    background-color: rgb(138, 146, 146);
  }

.Categoria{
  background-color: rgba(0, 0, 0, 0);
}

.header h1{
  color: black;
  text-align: center;
}

.header{
  background-color: rgb(91, 104, 222);
  margin-bottom: 5vh;
  border-radius: 2000vh;
}